@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", sans-serif;
  }

  body {
    @apply text-white bg-gray-900;
  }

  * {
    @apply border-collapse;
  }

  .outlined {
    outline: 1px solid red;
  }

  #header {
    backdrop-filter: blur(25px) saturate(149%);
    -webkit-backdrop-filter: blur(25px) saturate(149%);
    background-color: rgba(17, 25, 40, 0.85);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
  }
}
